<!DOCTYPE html>
<html>
    <head>
      <title>Tech Forward</title>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta name="description" content="Discover tech organizations and tools working for social progress.">

      <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ffavicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ffavicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ffavicon-16x16.png">

      <meta property="og:type" content="website">
      <meta property="og:title" content="Tech Forward">
      <meta property="og:description" content="Discover new tech organizations and tools working together for social progress">
      <meta property="og:image" content="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ftech-forward-og.png">
      <meta property="og:url" content="https://tech-forward.com/">

      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@stauffermatt">
      <meta name="twitter:title" content="Tech Forward">
      <meta name="twitter:description" content="Discover new tech organizations and tools working together for social progress">
      <meta name="twitter:image" content="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ftech-forward-twitter.png">
      <meta name="twitter:creator" content="@stauffermatt">

      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900" rel="stylesheet">
      <link rel="stylesheet" href="/css/phantom.css">
      <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <!-- Wrapper -->
            <div id="wrapper">
                <!-- Header -->
                <header id="header">
                    <div class="inner">
                        <!-- Logo -->
                        <a href="/" class="logo">
                            <span class="symbol"><img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Fsvg%2Bxml.svg" alt=""></span><span class="title">Tech Forward</span>
                        </a>
                    </div>
                </header>

                {{{body}}}

                <!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <section>
                        <!--
                            <h2>Get in touch</h2>
                            <form method="post" action="#">
                                <div class="field half first">
                                    <input type="text" name="name" id="name" placeholder="Name">
                                </div>
                                <div class="field half">
                                    <input type="email" name="email" id="email" placeholder="Email">
                                </div>
                                <div class="field">
                                    <textarea name="message" id="message" placeholder="Message"></textarea>
                                </div>
                                <ul class="actions">
                                    <li><input type="submit" value="Send" class="special"></li>
                                </ul>
                            </form>
                            -->
                        </section>
                        <ul class="copyright">
                            <li>MIT License.</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            <li>Open source: <a href="https://github.com/mattstauffer/tech-forward-gomix">GitHub</a></li>
                            <li>View source or remix: <a href="https://gomix.com/#!/project/tech-forward-2">Gomix</a></li>
                            <li>By: <a href="https://twitter.com/stauffermatt">Matt Stauffer</a> &amp; friends</li>
                            <li>Other projects doing similar work: <a href="https://github.com/katerabinowitz/Code-Against-Trump">Code Against Trump</a> | <a href="http://technicalmajority.com/">Technical Majority</a></li>
                        </ul>
                    </div>
                </footer>
            </div>

        <script src="/js/app.js">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-90142132-2', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
