<!DOCTYPE html>
<html>
    <head>
        <title>Tech Forward - Suggest Content</title>
        <meta name="description" content="Discover tech organizations and tools working for social progress.">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ffavicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ffavicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ffavicon-16x16.png">

        <meta property="og:type" content="website">
        <meta property="og:title" content="Tech Forward">
        <meta property="og:description" content="Discover new tech organizations and tools working together for social progress">
        <meta property="og:image" content="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ftech-forward-og.png">
        <meta property="og:url" content="https://tech-forward.com/">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@stauffermatt">
        <meta name="twitter:title" content="Tech Forward">
        <meta name="twitter:description" content="Discover new tech organizations and tools working together for social progress">
        <meta name="twitter:image" content="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ftech-forward-twitter.png">
        <meta name="twitter:creator" content="@stauffermatt">

        <link rel="stylesheet" href="/css/phantom.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">

                    <!-- Logo -->
                    <a href="/" class="logo">
                        <span class="symbol"><img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Fsvg%2Bxml.svg" alt=""></span><span class="title">Tech Forward</span>
                    </a>

                </div>
            </header>

            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <h1>Suggest to Tech Forward</h1>

                    <ul>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfledpsynDUUoinIH9SOn1ZZFy4MGl3sLYK_T9IsmctESxmZA/viewform">Suggest Organization</a></li>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSePZCNe0QTRDSeUuuSCZ2bbA77RVFMz8n24GHZtyEnY0ZbgLA/viewform">Suggest Project</a></li>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeNdbNcpPz82orWmtkWPjxRNRLHPIQL3Slcu3FoWlmSb0Y-vQ/viewform">Suggest Tool</a></li>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdZl_QCTpkN9UZQZvQcaKC6ps3NSw5az8fIZ7TlWYtgQaOheQ/viewform">Suggest Resource</a></li>
                        <li>Suggest Data Source (todo; for now tweet <a href="https://twitter.com/stauffermatt">@stauffermatt</a>)</li>
                        <li>Suggest Article (todo; for now tweet <a href="https://twitter.com/stauffermatt">@stauffermatt</a>)</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
