<!DOCTYPE html>
<html>
    <head>
      <title>Tech Forward</title>
      <meta name="description" content="Discover tech organizations and tools working for social progress.">
      
      <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ffavicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ffavicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ffavicon-16x16.png">
      
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta property="og:type" content="website">
      <meta property="og:title" content="Tech Forward">
      <meta property="og:description" content="Discover new tech organizations and tools working together for social progress">
      <meta property="og:image" content="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ftech-forward-og.png">
      <meta property="og:url" content="https://tech-forward.com/">

      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@stauffermatt">
      <meta name="twitter:title" content="Tech Forward">
      <meta name="twitter:description" content="Discover new tech organizations and tools working together for social progress">
      <meta name="twitter:image" content="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Ftech-forward-twitter.png">
      <meta name="twitter:creator" content="@stauffermatt">

      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/custom.css">

      <script id="org-template" type="text/x-handlebars-template">
          <div class="media item" id="org-{{ slug }}">
              <a href="{{ url }}" class="media-figure">
                  {{#if logo}}
                  <img src="{{ logo }}" alt="{{ name }}" class="item-logo">
                  {{else}}
                  <img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Farrow.png" alt="{{ name }}" class="item-logo">
                  {{/if}}
              </a>

              <div class="media-body">
                  <a href="{{ url }}"><h3>{{ name }}</h3></a>
                  <p>{{ description }}</p>
                  {{#if location}}
                  <p>LOCATION: {{ location }}</p>
                  {{/if}}

                  {{#if joinUrl}}
                  <a href="{{ joinUrl }}" class="button small">Join</a>
                  {{else}}
                  <a href="{{ url }}" class="button small">Join</a>
                  {{/if}}
              </div>
          </div>

          <hr>
      </script>
      <script id="project-template" type="text/x-handlebars-template">
          <div class="media item">
              <a href="{{ url }}" class="media-figure">
                    {{#if logo}}
                      <img src="{{ logo }}" alt="{{ name }}" class="item-logo">
                      {{else}}
                      <img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Farrow.png" alt="{{ name }}" class="item-logo">
                      {{/if}}
                  </a>

                  <div class="body media-body">
                      <a href="{{ url }}"><h3>{{ name }}</h3></a>
                      <p>{{ description }}</p>
                      {{#if builtBy}}
                        <p>BUILT BY: <a href="{{ builtBy.url }}">{{ builtBy.text }}</a></p>
                        {{/if}}
                        {{#if skills}}
                        <p>SKILLS NEEDED: {{ skills }}</p>
                        {{/if}}
                    </div>
                </div>

                <hr>
        </script>
        <script id="tool-template" type="text/x-handlebars-template">
            <div class="media item">
                <a href="{{ url }}" class="media-figure">
                    {{#if logo}}
                    <img src="{{ logo }}" alt="{{ name }}" class="item-logo">
                    {{else}}
                    <img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Farrow.png" alt="{{ name }}" class="item-logo">
                    {{/if}}
                </a>

                <div class="media-body">
                    <a href="{{ url }}"><h3>{{ name }}</h3></a>
                    <p>{{ description }}</p>
                    {{#if builtBy}}
                    <p>BUILT BY: <a href="{{ builtBy.url }}">{{ builtBy.text }}</a></p>
                    {{/if}}
                </div>
            </div>

            <hr>
        </script>
        <script id="resource-template" type="text/x-handlebars-template">
          <div class="media item">
              <a href="{{ url }}" class="media-figure">
                    {{#if logo}}
                      <img src="{{ logo }}" alt="{{ name }}" class="item-logo">
                      {{else}}
                      <img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Farrow.png" alt="{{ name }}" class="item-logo">
                      {{/if}}
                  </a>

                  <div class="body media-body">
                      <a href="{{ url }}"><h3>{{ name }}</h3></a>
                      <p>{{ description }}</p>
                      {{# if contact}}
                        <p><a href="{{ contact }}">Contact</a></p>
                      {{/if}}
                    </div>
                </div>

                <hr>
        </script>
    </head>
    <body>
        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Header -->
                <header id="header">
                    <div class="inner">

                        <!-- Logo -->
                        <a href="/" class="logo">
                            <span class="symbol"><img src="https://cdn.gomix.com/16d249c6-c928-4616-a548-3108bce18ead%2Fsvg%2Bxml.svg" alt=""></span><span class="title">Tech Forward</span>
                        </a>

                    </div>
                </header>

                <!-- Main -->
                <div id="main">
                    <div class="inner">
                        <header>
                            <h1>Tech organizations &amp; tools working for social progress.</h1>
                        </header>
                        <div class="intro">
                            <p>You've probably said it. "I'm a technologist. I know I can work for change the same as everyone—call my senator, donate to the causes that matter, protest. But what can I <em>uniquely</em> do?"</p>
                            <p>There are dozens of ways you can get involved; organizations to join, tools to contribute to, and resources to take advantage of. Your favorite missing? <a href="./add">Let us know.</a></p>
                        </div>
                        <div class="content">
                            <hr>
                            
                            <div class="page-nav">
                              <a href="#orgs">Organizations</a> | <a href="#projects">Projects</a> | <a href="#resources">Resources</a> | <a href="#tools">Tools</a>
                            </div>
                          
                            <hr>

                            <br><br>
                            <h2 id="orgs">Organizations</h2>
                            <p>Organizations that bring together technologists to do good.</p>
                            <section class="item-container container--orgs">Loading...</section>

                            <br><br>
                            <h2 id="projects">Projects</h2>
                            <p>Open source projects that technologists can use or contribute to.</p>
                            <section class="item-container container--projects">Loading...</section>

                            <br><br>
                            <h2 id="resources">Resources</h2>
                            <p>Services or agencies that provide free support to activists & progressive tech work</p>
                            <section class="item-container container--resources">Loading...</section>
                          
                            <br><br>
                            <h2 id="tools">Tools</h2>
                            <p>Tech-based online tools—usable by anyone, powered by tech.</p>
                            <section class="item-container container--tools">Loading...</section>
                          
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <section>
                        <!--
                            <h2>Get in touch</h2>
                            <form method="post" action="#">
                                <div class="field half first">
                                    <input type="text" name="name" id="name" placeholder="Name">
                                </div>
                                <div class="field half">
                                    <input type="email" name="email" id="email" placeholder="Email">
                                </div>
                                <div class="field">
                                    <textarea name="message" id="message" placeholder="Message"></textarea>
                                </div>
                                <ul class="actions">
                                    <li><input type="submit" value="Send" class="special"></li>
                                </ul>
                            </form>
                            -->
                        </section>
                        <ul class="copyright">
                            <li>MIT License.</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            <li>Open source: <a href="https://github.com/mattstauffer/tech-forward-gomix">GitHub</a></li>
                            <li>View source or remix: <a href="https://gomix.com/#!/project/tech-forward-2">Gomix</a></li>
                            <li>By: <a href="https://twitter.com/stauffermatt">Matt Stauffer</a> & friends</li>
                            <li>Other projects doing similar work: <a href="https://github.com/katerabinowitz/Code-Against-Trump">Code Against Trump</a> | <a href="http://technicalmajority.com/">Technical Majority</a></li>
                        </ul>
                    </div>
                </footer>
            </div>

    
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js" crossorigin="anonymous"></script>
        <!--script src="js/phantom.js"></script-->
        <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
        <script src="js/app.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-90142132-2', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>