html, body {
  color: #111;
}

#header .logo {
  color: #444;
}

.page-nav a {
  font-weight: bold;
}

/* Flexbox Media Object */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-figure {
  margin-right: 1em;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}
/* End Flexbox Media Object */

h2 {
  font-size: 1.5em;
}

.media-body h3 {
  margin-bottom: 0;
  letter-spacing: 0.2em;
}

.intro, .content {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  font-size: 1.25em;
}

  .intro p + p {
    margin-top: -1em;
  }

.not-a-technologist {
  text-align: center;
}

  .not-a-technologist a {
    border-color: #ff5644;
    color: #ff5644;
  }

.section-title {
  margin-bottom: 0.5em;
}

.item-logo {
  width: 100px;
}

.item p {
  margin-bottom: 0.5em;
}

.item-container hr {
  margin: 1.5em 0;
}

.copyright {
  text-align: center;
}

.hidden {
  display: none;
}

.tool-category-picker {
  color: #666;
  margin-top: -1.5em;
  text-align: right;
}
.tool-category-picker select {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  height: 2em;
  margin-bottom: 2em;
  max-width: 100%;
  padding: 0 1em;
  width: auto;
}

@media only screen and (min-width: 600px) {
  .tool-category-picker select {
    margin-left: 1em;
  }
}
