html, body {
  color: #111;
}

#header .logo {
  color: #444;
}

.page-nav {
  font-weight: bold;
}

/* Flexbox Media Object */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-figure {
  margin-right: 1em;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}
/* End Flexbox Media Object */

h2 {
  font-size: 1.5em;
}

.media-body h3 {
  margin-bottom: 0;
  letter-spacing: 0.2em;
}

.intro, .content {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  font-size: 1.25em;
}

  .intro p + p {
    margin-top: -1em;
  }

.section-title {
  margin-bottom: 0.5em;
}

.item-logo {
  width: 100px;
}

.item p {
  margin-bottom: 0.5em;
}

.item-container hr {
  margin: 1.5em 0;
}

.copyright {
  text-align: center;
}